<div class="move hidden">
	<p class="moveName">
		{{name}}
	</p>
  <p class="power hidden">
    Power: {{power}}
  </p>
	<p class="pp hidden">
		PP: {{pp}}
	</p>
	<p class="accuracy hidden">
		Accuracy: {{accuracy}}
	</p>
</div>
