{{#with userPoke}}
<div class="trainer" id="player">
  <img src="/backSprites/{{pokedex_number}}.png" class="sprites" id="testing">
  <div class="battle-box">
    <h3>
      {{name}}
    </h3>
    <div class="health-bar">
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
    </div>
    <div class="health" id="userhealth">
      {{hp}}/{{hp}}
    </div>

  </div>
</div>

</main>
{{/with}}
