{{#with oppoPoke}}
<div class="trainer" id="computer">
  <div class="battle-box">
    <h3 id="opponentPokemon">
      {{name}}
    </h3>
    <div class="health-bar">
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
      <div class="green">

      </div>
    </div>
    <div class="health" id="opponenthealth">
      {{hp}}/{{hp}}
    </div>

  </div>
  <img src="/frontSprites/{{pokedex_number}}.png" class="sprites oponent">

</div>
{{/with}}
