<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Squirtle Squad Pokemon Selector</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="/pokemonSelect.css" media="screen">
	<link rel="stylesheet" href="/pokemonArena.css" media="screen">

    <script src="/index.js" charset="utf-8" defer></script>

  </head>

  <body>

    <header>

      <h1 class="site-title">Squirtle Squad Pokemon Selector</h1>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink battle"><a href="/battle">Battle</a></li>
          <li class="navitem navlink index"><a href="/">Index</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search for Pokemon">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
          <li class="navitem navlink create"><a href="#">Create a Pokemon</a></li>
        </ul>
      </nav>
    </header>

    {{{body}}}

</html>
