<body>
		<div class="battle-pokemon">
		<main class="battle-container">
			{{>trainerOppo}}

			{{>trainerUser}}
		
		
		</div>
		<div>
			<div id="moveset">
				{{#each movesU}}
					{{>moveContainer}}
				{{/each}}
				{{#each movesO}}
					{{>moveContainerHidden}}
				{{/each}}
			</div>
		</div>
		<div id="explain-text">
			<h3>
				Welcome to Squirtle Squad's battle simulator!
			</h3>
			<ul>
				<li>
					Your pokemon and your opponents pokemon have been chosen randomly.
				</li>
				<li>
					Choose a move from the bottom row.
				</li>
				<li>
					Change your pokemon from the list on the right.
				</li>
			</ul>
			<div class="hidden" Id="reset-button">
			<div class="resbutton">
				Reset Battle
			</div>
			</div>
		</div>
		
		<div class="pokemon-container">
			{{#with userPoke}}
				{{> pokemonInfoCard}}
			{{/with}}

			{{#with oppoPoke}}
				{{> pokemonInfoCard}}
			{{/with}}
		</div>

	</main>
</div>

	</body>
