<main class="pokemon-container">
{{#if displayAll}}
  {{#each data}}
      {{#if customPokemon}}
        {{> showCustomPokemonCard}}
      {{else}}
        {{> pokemonInfoCard}}
      {{/if}}
  {{/each}}
{{else}}
    {{> pokemonInfoCard}}
    {{> showCustomPokemonCard}}
{{/if}}
</main>