<body>
		<div class="battle-pokemon">
		<main class="battle-container">
			{{>trainerOppo}}

			{{>trainerUser}}

		<div id="pokeswap">
				<div class="party">
					Arceus
				</div>
				<div class="party">
					Sceptile
				</div>
				<div class="party">
					Charizard
				</div>
				<div class="party">
					Miltank
				</div>
				<div class="party">
					Chancy
				</div>
				<div class="party">
					Rayquaza
				</div>
		</div>
		</div>
		<div>
			<div id="moveset">
				{{#each movesU}}
					{{>moveContainer}}
				{{/each}}
				{{#each movesO}}
					{{>moveContainerHidden}}
				{{/each}}
			</div>
		</div>
		<div id="explain-text">
			<h3>
				Welcome to Squirtle Squad's battle simulator!
			</h3>
			<ul>
				<li>
					Your pokemon and your opponents pokemon have been chosen randomly.
				</li>
				<li>
					Choose a move from the bottom row.
				</li>
				<li>
					Change your pokemon from the list on the right.
				</li>
			</ul>
		</div>
		<div class="pokemon-container">
			{{#with userPoke}}
				{{> pokemonInfoCard}}
			{{/with}}

			{{#with oppoPoke}}
				{{> pokemonInfoCard}}
			{{/with}}
		</div>

	</main>
</div>

	</body>
