{{#if displayAll}}
  {{#each data}}
    <main class="pokemon-container">
      {{> pokemonInfoCard}}
    </main>
  {{/each}}
{{else}}
  <main class="pokemon-container">
    {{> pokemonInfoCard}}
  </main>
{{/if}}
