<body>
		<div class="battle-pokemon">
		<main class="battle-container">
			<div class="trainer" id="computer">
				<div class="battle-box">
					<h3>
						ZQUIRTLE
					</h3>
					<div class="health-bar">
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						 
						</div>
					</div>
					<div class="health">
						100/100
					</div>
				
				</div>
				<img src="/frontSprites/112.png" class="sprites oponent">
			</div>
			
			<div class="trainer" id="player">
				<img src="/backSprites/41.png" class="sprites">
				<div class="battle-box">
					<h3>
						ROSASLOTH
					</h3>
					<div class="health-bar">
						<div class="green">
							
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
						<div class="green">
						
						</div>
					</div>
					<div class="health">
						100/100
					</div>
				
				</div>
			</div>
			
		</main>
		
		<div id="pokeswap">
				<div class="party">
					Arceus
				</div>
				<div class="party">
					Sceptile
				</div>
				<div class="party">
					Charizard
				</div>
				<div class="party">
					Miltank
				</div>
				<div class="party">
					Chancy
				</div>
				<div class="party">
					Rayquaza
				</div>
		</div>
		</div>
		<div>
			<div id="moveset">
				<p class="move">Razor Leaf </p>
				<p class="move">Toxic </p>
				<p class="move">Slash </p>
				<p class="move">Yawn </p>
			</div>
		</div>
		<div id="explain-text">
			<h3>
				Welcome to Squirtle Squad's battle simulator!
			</h3>
			<ul>
				<li>
					Your pokemon and your oponents pokemon have been chosen randomly.
				</li>
				<li>
					Choose a move from the bottom row.
				</li>
				<li>
					Change your pokemon from the list on the right.
				</li>
			</ul>
		</div>
	</body>