body {
  background-color: #000000cf;
  font-family: 'Source Serif Pro', serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a {
  color: red;
}

.site-title {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  color: #3b4cca;
}

.navbar {
  background-color: #141518cc;
  line-height: 50px;
}

.navitem {
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

.navlink:hover {
  background-color: darkgray
}

.navitem.create {
  float: right;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin: 20px 2%; */
  color: #ffffffcf;
  /* width: 90%; */
}

.flexItem {
  /* width: 500px; */
  width: 40%;
  background-color: #615959cf;
  margin-bottom: 5%;
  padding: 10px;
  border-radius: 3px;
}

.pokemon-text {
  color: #e9866f;
}

.sprite {
  width: 100%;
  height: auto;
  

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}
.pokemon-sprite-front-container {
  display: inline-block;
  width: 24%;
  top: 0px;
  vertical-align: top;
}

.pokemon-text {
  display: inline-block;
  width: 75%;
}
