body {
  background-color: white;
  font-family: 'Source Serif Pro', serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a {
  color: coral;
}

#create-pokemon-button {
  color: red;
  font-weight: bold;
}

.site-title {
  margin: 0;
  font-size: 50px;
  font-weight: 600;
  color: #dadada;
  text-align: center;
  background-color: #141518cc;
}

.navbar {
  background-color: #141518cc;
  line-height: 30px;
}

#navbar-search-input {
  background-color: #a4a7ab;
  border: 1px solid #141518cc;
  border-radius: 2px;
}

#navbar-search-input:hover {
  background-color: #f5f5f5;
}

#navbar-search-button {
  border: 1px solid #141518cc;
  border-radius: 50%;
  padding: 2px;
  background-color: #a4a7ab;
}

#navbar-search-button:hover {
  background-color: #f5f5f5;
  color: coral;
}

.navlist {
  margin-top: 0px;
}

.navitem {
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

.navlink:hover {
  background-color: darkgray;
  cursor: pointer;
}

.custom-pokemon-list {
  max-height: 350px;
  overflow-y: auto;
}

.navitem.create {
  float: right;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin: 20px 2%; */
  color: black;
  /* width: 90%; */
}

.flexItem {
  /* width: 500px; */
  width: 42%;
  background-color: #dadada;
  margin-bottom: 2%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.20);
}

/* .customPokemonViewer {
  position: relative;
} */

.pokemon-text {
  color: black;
}

.sprite {
  width: 100%;
  height: auto;


    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}
.pokemon-sprite-front-container {
  display: inline-block;
  width: 24%;
  top: 0px;
  vertical-align: top;
}

.pokemon-text {
  display: inline-block;
  width: 75%;
}

/* Kinda just stole the modal css from the twits assignment */
.hidden {
  display: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-pokemon-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.pokemon-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.pokemon-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.pokemon-input-element input,
.pokemon-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.pokemon-input-element textarea {
  min-height: 64px;
}

.input-element:hover {
  color: coral;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer #modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer #modal-accept-button {
  background-color: coral;
  color: white;
}

.modal-footer #modal-accept-button:hover {
  background-color: #ce6f65;
}

.ghost {
  display: none;
}
