
.sprites {
  width: 30%;
  height: 90%;
  max-width: 300px;
  z-index: 5;

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

.battle-pokemon {
	display: flex;
	flex-direction: row;
}

.battle-container {
	width: 1100px;
	height: 650px;
	position: relative;
	left: 150px;
	border: 4px solid black;
	background: darkgrey;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-radius: 5px;


}

.trainer {
	display: flex;
	flex-direction: row;
	height: 50%;
	justify-content: space-around;
}


.battle-box {
	border: 3px solid black;
	background: lightgrey;
	width: 35%;
	height: 35%;
	align-self: center;
	padding-left: 20px;
	border-radius: 5px;
}

.health-bar {
	border: 2px solid black;
	display: flex;
	width: 80%;
	height: 5%;
	float: right;
	margin-right: 5%;
}

.health{
	float: right;
	margin-right: 5%;
}

.green {
	background: limegreen;
	width: 10%;
}

h3, p, div {
	font-family: 'IBM Plex Mono', sarif;
}

#moveset {
	display: flex;
	justify-content: space-around;
	width: 1100px;
	height: 200px;
	position: relative;
	left: 150px;
}

.move {
	border: 2px solid Black;
	width: 15%;
	height: 22%;
	padding-top: 15px;
	display: flex;
	justify-content: center;
	margin: 0;
	border-radius: 50px;
	background: darkgrey;
	margin-top: 20px;
}

.moveName {
	margin-top: 0;
}

.move:hover {
	height: 80%;
	margin-top: 17px;
	padding-top: 13px;
	box-shadow: 5px 5px;
	flex-direction: column;
	padding-left: 10px;
}

#pokeswap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 200px;
	height: 650px;
	position: relative;
	left: 180px;
}

.party {
	border: 2px solid Black;
	width: 90%;
	height: 40px;
	padding-top: 15px;
	display: flex;
	justify-content: center;
	margin: 0;
	border-radius: 50px;
	background: darkgrey;
}

.party:hover {
	width: 93%;
	box-shadow: 5px 5px;
}

#explain-text {
	color: white;
	padding-left: 150px;
}

.under-pokemon {
	width: 400px;
	height: 100px;
	background: lightGreen;
	border: 10px solid sandybrown;
	border-radius: 50%;
}

#under-opponent {
	position: absolute;
	top: 200px;
	left: 650px;
}

#under-player {
	position: absolute;
	top: 520px;
	right: 650px;
}

.hidden {
	display: none;
}