body {
  background-color: #000000cf;
  font-family: 'Source Serif Pro', serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a {
  color: red;
}

.site-title {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  color: #3b4cca;
}

.navbar {
  background-color: #141518cc;
  line-height: 50px;
}

.navitem {
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

.navlink:hover {
  background-color: darkgray
}

.navitem.create {
  float: right;
}

.pokemon-container {
  margin: 20px 2%;
  color: #ffffffcf;
}

.pokemon {
  width: 500px;
  background-color: #615959cf;
}

.pokemon-text {
  color: #e9866f;
}

.sprite {
  width: 30%;
  height: 30%;
}
